div {
  log: false;
  log2: official;
  background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
  background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
  background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
  background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
  background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
  background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
}
