@import '../lib/vendor.styl'
// @import 'vendor.styl'

// @media screen
//     body
//         header,footer,section
//             flexbox(flex)
//             flex-direction(column)
//             flex-align(start)
//         header, footer
//             width: 100%
//         article
//             width: 60%
//         aside, div.sidebar
//             flex(20%, 1)

//         aside
//             flex-group(1)
//             display none
//         div.sidebar
//             flex-group(3)
//         article
//             flex-group(2)
//             display none
//         footer p
//             flex-self(stretch)
//             animation('delay', .3s)
//             animation('duration', 2s)
//             animation('name', fadeIn)
//             animation('fill-mode', backwards)

//     @-moz-document url-prefix()
//         body article
//             flex-firefox()


div 
    // transform:rotate(7deg); 
    // transition-property:width;
    // transition-property:border-color,background-color,color;
    // transition: background 0.5s ease-in,color 0.3s ease-out;
    background-image: linear-gradient(top, #eff6fb, #d3e4f3 68%);
    // transform:rotate(9deg);
    // display:none
    // animation: myfirst 5s;
    // border-radius: 2px 5px
    // border-radius: top 5px bottom 10px !important 
    // opacity: .6
    // size: 100% 30px
